# Automação Web e Busca de Informações com Python

#### Desafio: 

Trabalhamos em uma importadora e compramos e vendemos commodities:
- Soja, Milho, Trigo, Petróleo, etc.

Precisamos pegar na internet, de forma automática, a cotação de todas as commodites e ver se ela está abaixo do nosso preço ideal de compra. Se tiver, precisamos marcar como uma ação de compra para a equipe de operações.

Base de Dados: https://drive.google.com/drive/folders/1KmAdo593nD8J9QBaZxPOG1yxHZua4Rtv?usp=share_link

Para isso, vamos criar uma automação web:

- Usaremos o selenium
- Importante: baixar o webdriver

In [50]:
#passo a passo
#passo 1 -> abrir navegador
from selenium import webdriver
navegador=webdriver.Chrome()
navegador.get("https://google.com/")

In [2]:
#passo 2 -> importar base de dados
import pandas as pd
tabela=pd.read_excel("commodities.xlsx")
display(tabela)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32          NaN      NaN
1      Soja       163.59          NaN      NaN
2       Boi       282.20          NaN      NaN
3  Petróleo       424.37          NaN      NaN
4   Algodão       497.76          NaN      NaN
5    Açúcar       136.23          NaN      NaN
6      Café      1092.87          NaN      NaN
7      Ouro       321.77          NaN      NaN
8     Trigo      1549.11          NaN      NaN
9   Tilápia         9.05          NaN      NaN

In [55]:
#passo 3 -> pesquisar o preço
for linha in tabela.index:
    produto=tabela.loc[linha,"Produto"]
    print(produto)
    
    produto=produto.replace("ó","o").replace("ã","a").replace("ú","u").replace("é","e").replace(
    "í","i").replace("ç","c").replace("á","a")

    link= f"https://www.melhorcambio.com/{produto}-hoje"
    navegador.get(link)
    
    preco=navegador.find_element('xpath','//*[@id="comercial"]').get_attribute('value')
    preco=preco.replace(".","").replace(",",".")
    print(preco)
    #passo 4 -> atualizar a base de dado
    tabela.loc[linha,"Preço Atual"]=float(preco)
display(tabela)

#.clicl()->clicar
#.send_keys("texto") -> esrever
#.get_attribute() -> pegar um valor

Milho
85.37
Soja
162.12
Boi
278.90
Petróleo
386.50
Algodão
491.68
Açúcar
136.88
Café
1128.17
Ouro
332.89
Trigo
1549.08
Tilápia
9.05

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        85.37      NaN
1      Soja       163.59       162.12      NaN
2       Boi       282.20       278.90      NaN
3  Petróleo       424.37       386.50      NaN
4   Algodão       497.76       491.68      NaN
5    Açúcar       136.23       136.88      NaN
6      Café      1092.87      1128.17      NaN
7      Ouro       321.77       332.89      NaN
8     Trigo      1549.11      1549.08      NaN
9   Tilápia         9.05         9.05      NaN

In [59]:
#passo 5 -> decidir quais produtos comprar
tabela["Comprar"]=tabela["Preço Atual"] < tabela["Preço Ideal"]
display(tabela)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        85.37    False
1      Soja       163.59       162.12     True
2       Boi       282.20       278.90     True
3  Petróleo       424.37       386.50     True
4   Algodão       497.76       491.68     True
5    Açúcar       136.23       136.88    False
6      Café      1092.87      1128.17    False
7      Ouro       321.77       332.89    False
8     Trigo      1549.11      1549.08     True
9   Tilápia         9.05         9.05    False

In [61]:
tabela.to_excel("Commodities_atualizada.xlsx",index=False)

In [ ]:
navegador.quit()